default:
  formatters:
    progress: true

  suites:
    default:
      contexts:
        - SEEC\Behat\Magento2Extension\Features\Bootstrap\Context\TestRunnerContext
        - SEEC\BehatTestRunner\Context\TestRunnerContext
