# Directories

/.my127ws
/.docker-sync/
/.github/
/app/etc/*
/app/design/adminhtml/
/app/design/frontend/Magento/
/bin/
/dev/
/generated*
/lib/
/phpserver/
/pub/
/setup/
/tools/assets/
/update/
/var/
/vendor/

# Files

/.dockerignore
/.htaccess*
/.php_cs*
/.travis.yml
/.user.ini
/docker-compose.yml
/docker-sync.yml
/app/.htaccess
/app/*.php
/auth.json
/auth.json.sample
/CHANGELOG.md
/CONTRIBUTING.md
/COPYING.txt
/Gruntfile.js.sample
/grunt-config.json.sample
/index.php
/ISSUE_TEMPLATE.md
/LICENSE.txt
/LICENSE_AFL.txt
/LICENSE_EE.txt
/PULL_REQUEST_TEMPLATE.md
/nginx.conf.sample
/package.json.sample
/php.ini.sample
/README_EE.md
/workspace.override.yml

# extra stuff
Jenkinsfile
SECURITY.md
.travis.yml.sample
.editorconfig
phpcs.xml
phpmd.xml
behat.yml
/features
/app/code

# Keep

!/app/etc/config.php
